@import '~antd/dist/antd.css';

:root {
  --color-darkest: #343F3E;
  --color-dark: #505A5B;
  --color-medium: #8F91A2;
  --color-light: #6ADA99;
  --color-lightest: #DCEDFF;
  --color-success: #57C13F;
  --color-failure: #C70909;
}

#root{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #F0F2F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-after{
  margin-right: 10px;
}

.row{
  display: flex;
  flex-direction: row;
}

.center-align{
  align-items: center;
}

.ant-btn {
    border-radius: 0;
}

.green {
  color: var(--color-success);
}

.login-dropdown{
  width: 300px;
  font-size: 20px;
  height: 50px;
  padding-left:10px;
  margin-bottom: 15px;
}

.blue-background{
  background: var(--color-light);
  color: white;
}

.heyo{
    margin-bottom: 50px;
}

.filler{
  flex-grow: 1;
}
.filler{
  flex-grow: 1;
}