@import '~antd/dist/antd.css';

:root {
  --color-darkest: #343F3E;
  --color-dark: #505A5B;
  --color-medium: #8F91A2;
  --color-light: #6ADA99;
  --color-lightest: #DCEDFF;
  --color-success: #57C13F;
  --color-failure: #C70909;
}

#root{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #F0F2F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-after{
  margin-right: 10px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-align{
  align-items: center;
}

.align-end{
  justify-content: flex-end;
}

.align-text-end{
  text-align: right;
}

.ant-btn {
    border-radius: 0;
}

.green {
  color: var(--color-success);
}

.heyo{
    margin-bottom: 50px;
}

.filler{
  flex-grow: 1;
}

.font_icon{
  padding: 0;
  margin-bottom: 0;
  margin-right: 10px;
  line-height: inherit !important;
}

.horizontal-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.full-width {
  width: 100%;
}

ul.ant-pagination {
  padding: 0 30px 0 30px;
}

.ant-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ant-spin-nested-loading {
  flex-grow: 1;
}

.ant-modal-header, .ant-modal-footer {
  display: flex;
  align-items: center;
  height: 70px;
}

.ant-modal-footer {
  justify-content: flex-end;
}

.ant-modal-title {
  font-weight: 900;
  font-size: 18px;
}

.ant-modal-body {
  padding: 20px;
}

.small_text{
  font-size: 12px;
}

.ant-btn{
  border-radius: 5px;
}